* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#character {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 20px;
    top: -20px;
}

.rotate {
    transform: rotateY(-180deg);
}

#platform {
    width: 100%;
    height: 126px;
    position: absolute;
    bottom: 0;
    display: flex;
}

#platform div {
    height: 100%;
}

#platform div:first-child {
    width: 128px;
    background-image: url('./public/image/tile/Tile (1).png');
}

#platform div:nth-child(2) {
    flex-grow: 1;
    background-image: url('./public/image/tile/Tile (2).png');
}

#platform div:last-child {
    width: 128px;
    background-image: url('./public/image/tile/Tile (3).png');
}

body {
    background-image: url('./public/image/BG.png');
    background-position: top center;
    overflow: hidden;
    animation: backgroundScroll 20s linear infinite; /* Adjust timing as per your preference */
}

@keyframes backgroundScroll {
    from {
        background-position: 0 0; /* Start from initial position */
    }
    to {
        background-position: -2000px 0; /* Adjust based on your background image width */
    }
}

#overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    flex-direction: column;
    font-family: system-ui, sans-serif;
    z-index: 1;
    gap: 20px;
}

#overlay h1 {
    text-shadow: 0 0 8px white;
}

#progress-bar {
    width: 90%;
    height: 10px;
    background-color: #787878;
    box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.66);
    border-radius: 5px;
}

#progress-bar #bar {
    width: 0;
    height: 100%;
    background-color: rgba(244, 244, 244, 0.94);
    border-radius: 5px;
    transition: width 500ms;
}

.hide {
    animation: fade 700ms forwards;
    display: none; /* Ensure it is completely hidden */
}

@keyframes fade {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0);
    }
}

#start-screen {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(23, 0, 32);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    flex-direction: column;
    gap: 10px;
}

#start-screen button {
    padding: 10px 20px;
    font-size: 2rem;
    font-weight: bold;
    font-family: system-ui, sans-serif;
    border-radius: 10px;
    background-color: #ffffff;
    border: none;
    box-shadow: 0 0 4px 2px white;
    cursor: pointer;
}

#start-screen button:hover {
    box-shadow: 0 0 4px 4px white;
}

#start-screen button:active {
    box-shadow: 0 0 4px 4px white, inset 0 0 5px 3px #8a8a8a;
}

#start-screen h2 {
    font-family: system-ui, sans-serif;
    color: white;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.8rem;
}

#start-screen h2 span {
    font-size: 3rem;
    vertical-align: sub;
    color: lawngreen;
    text-shadow: 1px 1px 9px #7aff01;
}

#start-screen #footer {
    color: white;
    font-family: system-ui, sans-serif;
    margin-top: 40px;
    font-size: small;
}

#music-controls {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#music-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

#volume-control {
    width: 100px;
}

#enemy {
    width: 84px; /* Adjust width as per your enemy's dimensions */
    height: 74px; /* Adjust height as per your enemy's dimensions */
    position: absolute;
    background-image: url('./public/image/enemy/enemy-0.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    left: 100%; /* Position outside the viewport initially */
    bottom: 120px; /* Align with the bottom of the platform */
}

#score {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: white;
    font-family: system-ui, sans-serif;
    text-shadow: 0 0 5px black;
}

#game-over {
    flex-direction: column;
    width: 600px;
    height: 350px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 3;
    font-family: system-ui, sans-serif;
}

#game-over h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

#game-over p {
    font-size: 2rem;
}

#game-over button {
    margin: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-family: system-ui, sans-serif;
    border-radius: 10px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}


#game-over #exit {
    background-color: red;
    color: white;
}

#game-over button:hover {
    background-color: #dddddd;
}
